/* Notes for future improvements */

/* Cursor needs to become pointer on all clickable links */
/* Nav bar should float when user scrolls */
/* Look into changing clickable link colors and creating hover effects for buttons */
/* Find and background photo rather than styling entire page BG to match color scheme*/


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* need url for bg image, or filepath */



}

/* .navbar {
    
} */

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* background-image:TBD; */
    background-color: rgb(52, 141, 219);
    font-weight: 800;
    font-size: large;

}

.navbar ul li {
    margin: 15px 20px;
}

.header {
    margin: 15px;
    
}



h1 {
    text-align: center;
}

#portfolio {
    margin: auto;
}

.bio {
    display: flex;
    font-size: 28px;
    padding: 5px;
    margin: 15px;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;

}

.bio img {
    height:50%;
}

.tagline {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: aliceblue;
    background-color: rgb(150, 110, 187);
    font-weight: 1000;
}

body {
    background-color: #b6b8b5
}

/* project1 */ 
.horiseon {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./100_0518.JPG");
    background-size: cover;
    background-position: center;
    color:pink;
    border: 5px solid rgb(165, 44, 165);
}

.horiseon:hover {
    inline-size: 150%;
}


/* future project formatting and placeholders */
.futureproject01 {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://via.placeholder.com/800");
    background-size: cover;
    background-position: center;
    color: rgb(247, 108, 108);
    border: 5px dashed black;
    text-align:center;
}

.futureproject01 p {
    font-size: smaller;
    font-weight: bolder;
}


.futureproject02 {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://via.placeholder.com/800");
    background-size: cover;
    background-position: center;
    color: rgb(151, 146, 75);
    border: 5px dashed black;
    text-align:center;
}

.futureproject02 p {
    font-size: smaller;
    font-weight: bolder;
}

.futureproject03 {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://via.placeholder.com/800");
    background-size: cover;
    background-position: center;
    color: rgb(10, 10, 10);
    border: 5px dashed black;
    text-align:center;
}

.futureproject03 p {
    font-size: smaller;
    font-weight: bolder;
}


.footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    margin: 25px;
    font-weight: 1000;
    font-size:20px;

}

h2 {
    text-align: center;
    font-size: 32px;
    color: rgb(31, 31, 31);
    margin: 20px;
    padding: 10px;
}

.footer ul {
    list-style-type: none;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(52, 141, 219);
    color: white;
    text-align: center;
}

/* have screen scale */
@media screen and (max-width: 650px) {
    .bio {
        width: 100%;
        display: block;
    }    }